*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    display: none;
}
.image.active {
    display: inline;
    margin-left: 25%;
}

#circles {
    text-align: center;
}
.container {
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    width: 1000px;
    margin-left: 25%;
}
.circle {
    display: inline;
    margin-left: 20px;
    cursor: grab;
}

.move{
    background-color: black;
    color: gold;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
}