*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    display: none;
}
.image.active {
    display: inline;
    margin-left: 40%;
}

#circles {
    text-align: center;
}
.container {
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}
.circle {
    display: inline;
    margin-left: 20px;
    cursor: grab;
}
