*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    display: none;
}
.image.active {
    display: inline;
    width: 70%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
